@page "/"
@using System.IO
@using Microsoft.AspNetCore.Hosting
@using static CRUDOperation.Models.PersonalInfo
@using System.ComponentModel.DataAnnotations
@inject IJSRuntime JSRuntime
@inject IWebHostEnvironment env

<EditForm EditContext="editContext" OnValidSubmit="SaveInfo">
    <DataAnnotationsValidator/>
    <div class="form-matrix">
<div class="row1">
<div class="form-input">
     <label for="nameInput">Name:</label>
    <InputText  @bind-Value="newInfo.Name" placeholder="Name" onblur="@(()=>validatefield(nameof(newInfo.Name)))"/>
    <ValidationMessage For="@(()=>newInfo.Name)"></ValidationMessage>
</div>
<div class="form-input">
    <label for="nameInput">MailID:</label>
    <InputText @bind-Value="newInfo.MailID" placeholder="MailID" onblur="@(()=>validatefield(nameof(newInfo.MailID)))"/>
<ValidationMessage For="@(()=>newInfo.MailID)"></ValidationMessage>
</div>
<div class="form-input">
    <label for="nameInput">MobileNumber:</label>
    <InputNumber @bind-Value="newInfo.Mobile" placeholder="MobileNumber"/>
    <ValidationMessage For="@(()=>newInfo.Mobile)"></ValidationMessage>
</div>
<div class="form-input">
    <label>Photo:</label>
    <InputFile OnChange="PhotoUpload" onblur="@(()=>validatefield(nameof(newInfo.Photo)))" />
    
    @if (!string.IsNullOrEmpty(newInfo.Photo))
    {
        <div>
            <img src="@newInfo.Photo" alt="Uploaded Photo" style="max-width: 150px; max-height: 150px;" />
        </div>
    }
    <ValidationMessage For="@(()=>newInfo.Photo)"></ValidationMessage>
</div>
<div class="form-input">
  <label>Gender:</label>
  <InputRadioGroup @bind-Value="newInfo.Gender" class="gender-group">
    <div class="gender">
      <InputRadio Value="GenderEnum.Male" /> <span>Male</span>
    </div>
    <div class="gender1">
      <InputRadio Value="GenderEnum.Female" /> <span>Female</span>
    </div>
    <div class="gender2">
      <InputRadio Value="GenderEnum.Other" /> <span>Other</span>
    </div>
  </InputRadioGroup>
  <ValidationMessage For="@(()=>newInfo.Gender)"></ValidationMessage>
</div>
</div>

<div class="row2">
@* <div class="form-input">
    <label for="nameInput">Degree:</label>
    <InputSelect @bind-Value="newInfo.Degree">
        <option value="">Select Degree</option>
        @foreach (var dept in Degrees)
        {
            <option value="@dept">@dept</option>
        }
    </InputSelect>
    <ValidationMessage For="@(()=>newInfo.Degree)"></ValidationMessage>
</div> *@
@* @if (!string.IsNullOrEmpty(newInfo.Degree))
{
    <div class="form-input">
        <textarea @bind="newInfo.Department" placeholder="Enter your Department here"></textarea>
    </div>
} *@
<div class="form-input">
    <label for="nameInput">DOB:</label>
   <InputDate @bind-Value="newInfo.DOB"/>
   <ValidationMessage For="@(()=>newInfo.DOB)"></ValidationMessage>
</div>



<div class="form-input">
  <label>Language:</label>
  <div class="language-group">
    @foreach (var lang in languages)
{
    <input 
        type="checkbox" 
        checked="@newInfo.Languages.Contains(lang)" 
        @onchange="(e) => OnLanguageChanged(lang, ((ChangeEventArgs)e).Value)" />
    <label>@lang</label>
}
  </div>
  <ValidationMessage For="@(()=>newInfo.Languages)"></ValidationMessage>
</div>
<div class="form-input">
    <label for="nameInput">Department:</label>
    <InputSelect multiple @bind="newInfo.SelectedDepartments" TValue="List<string>">
        @foreach (var dept in departments)
   
{
        <option value="@dept">@dept</option>
        }
    </InputSelect>
</div>
</div>

<ValidationMessage For="@(()=>newInfo.Department)"></ValidationMessage>
<div class="row3">
<div class="form-input">
<label for="nameInput">Check-In Time:</label>
<InputText @bind-Value="newInfo.Time" type="time"></InputText>
</div>
<ValidationMessage For="@(()=>newInfo.Time)"></ValidationMessage>
<div class="form-input">
        <label>Joining Date:</label>
        <InputDate @bind-Value="newInfo.DateTime" />
    </div>
<ValidationMessage For="@(()=>newInfo.DateTime)"></ValidationMessage>
    <div class="form-input">
        <label>Amount:</label>
        <InputNumber @bind-Value="newInfo.Amount" />
    </div>
    <ValidationMessage For="@(()=>newInfo.Amount)"></ValidationMessage>
    <div class="form-input">
    <label for="nameInput">Resume:</label>
<InputFile OnChange="UploadFile" accept=".pdf,.doc,.docx,.txt" />
</div>
<ValidationMessage For="@(()=>newInfo.File)"></ValidationMessage>
</div>
</div>
<br>
<br>
<button type="submit">@button</button>
<p style="color: @styleColor">@displaymessage</p>

</EditForm>
<h2>User List</h2>
<table>
    <thead>
        <tr>
            
            <th>ID</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>MailID</th>
            <th>Degree</th>
            <th>Course</th>
            <th>Photo</th>
            <th>DOB</th>
            <th>Team</th>
            <th>Gender</th>
            <th>Chech-In Time</th>
            <th>Language</th>
            <th>Joining Date</th>
            <th>Resume</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PersonalInfo personalInfo in personalInfos)
        {
            <tr>
                <td>@personalInfo.Name</td>
                <td>@personalInfo.ID</td>
                <td>@personalInfo.Mobile</td>
                <td>@personalInfo.MailID</td>
                <td>@personalInfo.Degree</td>
                <td>@personalInfo.Department</td>
                <td>@if (!string.IsNullOrEmpty(personalInfo.Photo))
                    {
                        <img src="@personalInfo.Photo" alt="Uploaded Image" style="max-width: 300px; max-height: 300px;" />
                    }
                                else
                    {
                        <span>No Photo</span>
                    }
                </td>
                <td>@personalInfo.DOB.ToString("dd/MM/yyyy")</td>
                @* <td>@personalInfo.SelectedDepartments</td> *@
                <td>@(personalInfo.SelectedDepartments != null ? string.Join(", ", personalInfo.SelectedDepartments) : "")
                </td>
                <td>@personalInfo.Gender</td>
                <td>@personalInfo.Time</td>
               
            <td>@(personalInfo.Languages?.Count > 0 ? string.Join(", ", personalInfo.Languages) : "No languages selected")</td>

                <td>@personalInfo.DateTime.ToString("dd/MM/yyyy HH:mm")</td>

<td>
    @if (!string.IsNullOrEmpty(personalInfo.File))
    {
        <a href="@($"uploads/{personalInfo.File}")" target="_blank">@personalInfo.File</a>
    }
    else
    {
        <span>No File</span>
    }
</td>
<td>@personalInfo.Amount</td>

                <td>
                    <button @onclick="() => EditInfo(personalInfo)">Edit</button>
                    <button @onclick="() => DeleteInfo(personalInfo)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    
void OnLanguageChanged(string lang, object checkedValue)
    {
        bool isChecked = checkedValue is bool b && b;
        if (isChecked)
        {
            if (!newInfo.Languages.Contains(lang))
                newInfo.Languages.Add(lang);
        }
        else
        {
            newInfo.Languages.Remove(lang);
        }
    }    EditContext editContext;
    protected override void OnInitialized()
{
    editContext = new EditContext(newInfo);
}

 void validatefield(string field)
 {
    var fieldIdentifier=new FieldIdentifier(newInfo,field);
    editContext.NotifyFieldChanged(fieldIdentifier);

 }
    PersonalInfo newInfo = new PersonalInfo{DOB = DateTime.Today, Languages = new List<string>()};
    public bool deleteshow=false;
string styleColor;
string displaymessage;

   
      private string fileStatus;
   private async Task UploadFile(InputFileChangeEventArgs e)
{
    var file = e.File;

    if (file == null)
    {
        fileStatus = "No file selected.";
        newInfo.File = null;  
        return;
    }

    if (file.Size > maxFileSize)
    {
        fileStatus = "File too large. Max 10 MB.";
        return;
    }

    try
    {
        var uploadFolder = Path.Combine(env.WebRootPath, "uploads");
        Directory.CreateDirectory(uploadFolder);
        var filePath = Path.Combine(uploadFolder, file.Name);
        await using var stream = new FileStream(filePath, FileMode.Create);
        await file.OpenReadStream(maxFileSize).CopyToAsync(stream);
        newInfo.File = file.Name;

        fileStatus = $"File '{file.Name}' uploaded successfully!";
    }
    catch (Exception ex)
    {
        fileStatus = $"Upload failed: {ex.Message}";
    }
}
  private List<string> languages = new() { "English", "Spanish", "French", "Hindi" };
    @* try
    {
    }
    catch(Exception ex)
    {
    } *@
   private void Language(string lang, ChangeEventArgs e)
{
    bool isChecked = e.Value?.ToString().ToLower() == "true";

    if (isChecked)
    {
        if (!newInfo.Languages.Contains(lang))
            newInfo.Languages.Add(lang);
    }
    else
    {
        if (newInfo.Languages.Contains(lang))
            newInfo.Languages.Remove(lang);
    }
}


    List<string> departments = new() { "CSE", "ECE", "IT", "EEE" };

    private static int s_id = 1;
    List<PersonalInfo> personalInfos = new List<PersonalInfo>();
    List<string> Degrees = new List<string>
{
"Bachelor of Arts","Master of Arts", "Engineering", "Bachelor of Science", "Master of Science"
};


    string button = "Add";
    bool isEdit = false;
    PersonalInfo selectedInfo;

    public const long maxFileSize = 1024 * 1024 * 5;

    public async Task PhotoUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            using var stream = file.OpenReadStream(maxFileSize);
            var fileSize = new byte[file.Size];
            await stream.ReadAsync(fileSize);

            newInfo.Photo = $"data:{file.ContentType};base64,{Convert.ToBase64String(fileSize)}";
        }
    }
    @* Edit the data *@
    public void EditInfo(PersonalInfo personal)
    {
        isEdit = true;
        selectedInfo = personal;

        newInfo.ID = personal.ID;
        newInfo.Name = personal.Name;
        newInfo.Mobile = personal.Mobile;
        newInfo.MailID = personal.MailID;
        newInfo.Photo = personal.Photo;
        newInfo.Degree = personal.Degree;
        newInfo.Department = personal.Department;
        newInfo.DOB = personal.DOB;
        newInfo.SelectedDepartments = personal.SelectedDepartments;
        newInfo.Time = personal.Time;
        newInfo.Languages = personal.Languages;
        newInfo.DateTime = personal.DateTime;
        newInfo.File = personal.File;
        newInfo.Gender=personal.Gender;
        newInfo.Amount=personal.Amount;


        button = "Update";
    }
    @* Create the form *@

    private async Task SaveInfo()

    {
        if(editContext.Validate())
        {
        if (isEdit)
        {
            @* selectedInfo.ID = newInfo.ID; *@
            selectedInfo.Name = newInfo.Name;
            selectedInfo.Mobile = newInfo.Mobile;
            selectedInfo.MailID = newInfo.MailID;
            selectedInfo.Photo = newInfo.Photo;
            selectedInfo.Degree = newInfo.Degree;
            selectedInfo.Department = newInfo.Department;
            selectedInfo.DOB = newInfo.DOB;
            selectedInfo.SelectedDepartments = newInfo.SelectedDepartments;
            selectedInfo.Time = newInfo.Time;
           selectedInfo.Languages = newInfo.Languages;
            selectedInfo.DateTime = newInfo.DateTime;
            selectedInfo.File = newInfo.File;
            selectedInfo.Gender = newInfo.Gender;
            selectedInfo.Amount=newInfo.Amount;

            isEdit = false;
            button = "Add";
        }
        else
        {
             
            newInfo.ID = s_id++;
            personalInfos.Add(new PersonalInfo
            {
                ID = newInfo.ID,
                Name = newInfo.Name,
                Mobile = newInfo.Mobile,
                MailID = newInfo.MailID,
                Photo = newInfo.Photo,
                Degree = newInfo.Degree,
                Department = newInfo.Department,
                DOB = newInfo.DOB,
                SelectedDepartments = newInfo.SelectedDepartments,
                Time = newInfo.Time,
                Languages = newInfo.Languages,
                DateTime = newInfo.DateTime,File=newInfo.File,Gender=newInfo.Gender,Amount=newInfo.Amount
            });
        }
        }
         @* return Task.CompletedTask; *@
       newInfo = new PersonalInfo { DOB = DateTime.Today, Languages = new List<string>() };
    await InvokeAsync(StateHasChanged);

    }
    @* Delete the data *@
    public void DeleteInfo(PersonalInfo id)
    {

        personalInfos.Remove(id);

    }
    public async void Add()
    {
        await Alert("Added successfully");
    }
    public async Task Alert(string Message)
    {
        await JSRuntime.InvokeAsync<Object>("Alert",Message);
    }

}