@page "/"
@using NewDB.Models
@inject NewDB.Models.StudentsService studentService


<div class="form-input">
    <input type="text" @bind="newInfo.Name" placeholder="Name">
</div>
<div class="form-input">
    <input type="text" @bind="newInfo.MailID" placeholder="MailID">
</div>
<div class="form-input">
    <input type="text" @bind="newInfo.Mobile" placeholder="MobileNumber">
</div>
@* <div class="form-input">
    <input type="text" @bind="newInfo.ID" placeholder="ID">
</div> *@
<div class="form-input">
    <InputFile OnChange="OnInputFileChange" />
</div>
<div class="form-input">
    <InputSelect @bind-Value="newInfo.Degree" TValue="string">
        <option value="">Select Degree</option>
        @foreach (var dept in Degrees)
        {
            <option value="@dept">@dept</option>
        }
    </InputSelect>
</div>
@if (!string.IsNullOrEmpty(newInfo.Degree))
{
    <div class="form-input">
        <textarea @bind="newInfo.Department" placeholder="Enter your Department here"></textarea>

    </div>
}
<div class="form-input">
    <InputDate @bind-Value="newInfo.DOB" />

</div>
<select multiple @bind="newInfo.SelectedDepartments">
    @foreach (var dept in departments)
    {
        <option value="@dept">@dept</option>
    }
</select>


<button @onclick="SaveInfo">@button</button>
<h2>Student List</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Mobile</th>
            <th>MailID</th>
            <th>Degree</th>
            <th>Departments</th>
            <th>Photo</th>
            <th>DOB</th>
            <th>Selected</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (StudentInfo personalInfo in personalInfos)
        {
            <tr>
                <td>@personalInfo.Name</td>
                <td>@personalInfo.ID</td>
                <td>@personalInfo.Mobile</td>
                <td>@personalInfo.MailID</td>
                <td>@personalInfo.Degree</td>
                <td>@personalInfo.Department</td>

                <td>@if (personalInfo.Photo != null && personalInfo.Photo.Length > 0)
                    {
                        <img src="data:image/png;base64,@Convert.ToBase64String(personalInfo.Photo)" alt="Uploaded Image"
                            style="max-width: 300px; max-height: 300px;" />
                    }
                                else
                    {
                        <span>No Photo</span>
                    }

                </td>
                <td>@personalInfo.DOB.ToString("yyyy-MM-dd")</td>
                @* <td>@personalInfo.SelectedDepartments</td> *@
                <td>@(personalInfo.SelectedDepartments != null ? string.Join(", ", personalInfo.SelectedDepartments) : "")
                </td>
                <td>
                    <button @onclick="() => EditInfo(personalInfo)">Edit</button>
                    <button @onclick="() => DeleteInfo(personalInfo)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@code {
    List<string> departments = new() { "HR", "Sales", "IT", "Finance" };
    void OnDepartmentsChanged(ChangeEventArgs e)
    {
        var selectedValues = e.Value as string[];
        if (selectedValues != null)
        {
            newInfo.SelectedDepartments = selectedValues;
        }
        else if (e.Value is not null)
        {
            newInfo.SelectedDepartments = new string[] { e.Value.ToString() };
        }
        else
        {
            newInfo.SelectedDepartments = Array.Empty<string>();
        }
    }
    private static int s_id = 1;
    List<StudentInfo> personalInfos = new();
    List<string> Degrees = new List<string>
{
"Bachelor of Degree","Master of Degree", "Engineering"
};
    StudentInfo newInfo = new();

    string button = "Add";
    bool isEdit = false;
    StudentInfo selectedInfo;

    @* private string? ImageDataUrl; *@

    public const long maxFileSize = 1024 * 1024 * 5;

    public async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            using var stream = file.OpenReadStream(maxFileSize);
            var buffer = new byte[file.Size];
            await stream.ReadAsync(buffer);

            newInfo.Photo = buffer; // assign raw bytes directly
        }
    }

    protected override Task OnInitializedAsync()
    {
        personalInfos = studentService.GetAllStudent();
        return Task.CompletedTask;
    }



    @* Edit the data *@
    public void EditInfo(StudentInfo personal)
    {
        isEdit = true;
        selectedInfo = personal;

        newInfo.ID = personal.ID;
        newInfo.Name = personal.Name;
        newInfo.Mobile = personal.Mobile;
        newInfo.MailID = personal.MailID;
        newInfo.Photo = personal.Photo;
        newInfo.Degree = personal.Degree;
        newInfo.Department = personal.Department;
        newInfo.DOB = personal.DOB;
        newInfo.SelectedDepartments = personal.SelectedDepartments;

        button = "Update";
    }
    @* Create the form *@

    public void SaveInfo()
    {

        newInfo.DOB = DateTime.SpecifyKind(newInfo.DOB, DateTimeKind.Utc);

        if (isEdit)
        {
            var updatedInfo = new StudentInfo
            {
                ID = newInfo.ID,
                Name = newInfo.Name,
                Mobile = newInfo.Mobile,
                MailID = newInfo.MailID,
                Photo = newInfo.Photo ?? selectedInfo.Photo,
                Degree = newInfo.Degree,
                Department = newInfo.Department,
                DOB = newInfo.DOB,
                SelectedDepartments = newInfo.SelectedDepartments
            };

            studentService.UpdateRec(updatedInfo);

            var existing = personalInfos.FirstOrDefault(p => p.ID == selectedInfo.ID);
            if (existing != null)
            {
                existing.Name = updatedInfo.Name;
                existing.Mobile = updatedInfo.Mobile;
                existing.MailID = updatedInfo.MailID;
                existing.Photo = newInfo.Photo;
                existing.Degree = newInfo.Degree;
                existing.Department = newInfo.Department;
                existing.DOB = newInfo.DOB;
                existing.SelectedDepartments = newInfo.SelectedDepartments;
            }

            isEdit = false;
            button = "Add";
        }
        else
        {
            studentService.InsertRec(newInfo);
            personalInfos = studentService.GetAllStudent();
        }

        newInfo = new StudentInfo();
    }


    @* Delete the data *@
    public void DeleteInfo(StudentInfo info)
    {
        studentService.DeleteRec(info);
        personalInfos = studentService.GetAllStudent();
    }


}